<!DOCTYPE html>

<div id="footer" >
    <div class="wrapper">
    	<div id='celli-logo-container'><img id='celli-logo'src='images/cello-logo.svg'/></div>

    	<div id='social-media'>
        	<a class='social-media-link' href="https://www.facebook.com/WeAreCelli" target="_blank">
        		<div class='social-media-container'>
        			<img class='social-media-thumb' src='images/facebook.svg'/>
        		</div>
        	</a>
        	<a class='social-media-link' href="mailto:wearecelli@gmail.com?Subject=Hello" target="_top">
        		<div class='social-media-container'>
        			<img class='social-media-thumb' src='images/email.svg'>
        		</div>
        	</a>
        	<a class='social-media-link' href="https://twitter.com/WeAreCelli" target="_blank">
        		<div class='social-media-container'>
        			<img class='social-media-thumb' src='images/twitter.svg'>
        		</div>
        	</a>
        </div>

        <div id='innod-info'>
        	
        	<a href='http://www.innod.net' target='_blank'>
        		<div id='innod-logo-container'>
        			<img id='innod-logo' src='images/innod-logo.png'/>
        		</div>
    		</a>
    		<div id='built-by-innod'>
        		Designed by Innovative Design
        	</div>
        </div>
        <!-- Attribution:
            Envelope by Maria Maldonado from The Noun Project
            Facebook by Maria Maldonado from The Noun Project
            Twitter by Maria Maldonado from The Noun Project -->
        	

    </div>
</div>    



