<!DOCTYPE html>

<div id="footer" >
    <div class="wrapper">
    	<div id="s-icon"></div>
        <div id="tagline"></div>
        <p id="line-left">4700 Ohio Ave  S • 206.762.0490<br /><a href="/distributors">Distributors</a></p>
        <p id="line-right">Celli@Berkeley • <a href="http://www.innod.net" target="_blank">Built by Innovative Design</a></p>
    </div>
</div>    



