<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Innovative Design - Web Tier">

<title>
  <% if(page === 'home') { &>
  Celli @ Berkeley
  <% } else { %>
  <% page %> &middot; Celli @ Berkeley
  <% } %>
</title>

<!-- CSS -->
<link href="/css/style.css" rel="stylesheet">
