<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Innovative Design - Web Tier">

<title>
  <% if(page === 'home') { %>
  Celli @ Berkeley
  <% } else { %>
  <%=: page | capitalize %> &middot; Celli @ Berkeley
  <% } %>
</title>

<!-- jQeury -->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- CSS -->
<link href="/css/style.css" rel="stylesheet">
