<div id="splash-container">
	<div id="video-container">
		<div id="mini-title">
			Celli@Berkeley
		</div>
		<div id="logo">
			<img id=logo src="img/logo.svg" alt="celliLogo"></img>
		</div>
		<video id="video" class="blur" src="vid/celliVid.mp4" autoplay="autoplay" loop muted>
		<img id="photoSplash" class="blur" src="img/CelliBAMWall.jpg" alt="celliPic"></img>
	</div>
	<div id="toolbar">
		<div id="menuStuff">
			<div class="menuItem" id="one">
				Home
			</div>
			<div class="menuItem" id="two">
				About
			</div>
			<div class="menuItem" id="three">
				Events
			</div>
			<div class="menuItem" id="four">
				KickStarter
			</div>
		</div>
	</div>
</div>