<div id="splash-container">
	<div id="video-container">
		<div id="mini-title">
			<h1>Celli@Berkeley</h1>
		</div>
		<div id="logo">
			<img src="img/logo.svg" alt="celliLogo"></img>
		</div>
		<video id="video" src="vid/celliVid.mp4" autoplay="autoplay" loop muted>
		<img id="photoSplash" class="blur" src="img/CelliBAMWall.jpg" alt="celliPic"></img>
	</div>
	<ul id="main-nav">
		<li>
		  <a href="/home">About</a>
		</li>
		<li>
		  <a href="/events">Events</a>
		</li>
		<li>
		  <a href="/music">Music</a>
		</li>
    </ul>
</div>