<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/grids-min.css">
<link rel="stylesheet" type="text/css" href="css/events-style.css" />
<script type="text/javascript" src="ejs_production.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>

<head>
  <title>Celli: Events Page</title>
</head>
<body>
  <div class="section-header">
    <h1>UPCOMING EVENTS &amp PERFORMANCES</h1>
  </div>
  <hr>
  <div class="pure-g-r event-box">
    <div class="pure-u-1 event-photo">
    </div>
    <div class="pure-u-1 event-info">
      <h2>Sproul Plaza | March 5th | 12:00 PM</h2>
      <h1><a href="http://www.google.com">CelliPOP on Sproul [Disney]!</a></h1>
      <p>Are you ready to LET IT GO? Do you want NO WORRIES FOR THE REST OF YOUR DAY(S)? Drop by the shaded area in front of Wheeler all this **Wednesday** at noon to let Celli at Berkeley be PART OF YOUR WORLD! If you can't tell yet, we will be playing your favorite Disney tunes, with some TV show theme songs (Sherlock? Game of Thrones?) thrown in. **Warning: not for the weak of heart - may be too fabulous to handle.</p>
    </div>
  </div>
  <div class="section-header">
    <h1>PAST EVENTS &amp PERFORMANCES</h1>
  </div>
  <hr>
  <div class="pure-g-r event-box">
    <div class="pure-u-1 event-info">
      <h2>Sproul Plaza | March 5th | 12:00 PM</h2>
      <h1>Event Name</h1>
    </div>
  </div>
</body>
