<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>

        <!-- HTML5 Splash -->
        <% include partials/splash %>

        <div id="ajax-body-wrapper">
            <div class="container">
                <%-body%>
            </div>
        </div>

        <!-- Footer Scripts -->
        <% include partials/footer-scripts %>

        <!-- Footer -->
        <% include partials/footer %>
    </body>
</html>
