<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>

        <!-- Header -->
        <% include partials/header %>

        <!-- Nav Bar -->
        <% include partials/navbar %>

        <div class="container">
            <%-body%>
        </div>

        <!-- Footer -->
        <% include partials/footer %>

        <!-- Footer Scripts -->
        <% include partials/footer-scripts %>
    </body>
</html>
