<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/grids-min.css">
<link rel="stylesheet" type="text/css" href="css/music-style.css" />

<head>
  <title>Celli: Music Page</title>
</head>
<body>
  <div id='kickstarter-message'>
  	<h1>
  		Show us your support!
  	</h1>
  	<p>
  		Help us fill this page with our first album! We are hoping to expand the cello ensemble repitoire,
  		so it would be great if you could show us your support on <a href='https://www.kickstarter.com/projects/87565582/celliberkeleys-debut-album-ft-jared-redmond'>Kickstarter</a>!
  	</p>
  </div>
  <div id='kickstarter-music'>
  	<iframe width="480" height="360" src="https://www.kickstarter.com/projects/87565582/celliberkeleys-debut-album-ft-jared-redmond/widget/video.html" frameborder="0" scrolling="no"> </iframe>
  </div>
</body>
<script type="text/javascript" src="ejs_production.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
