h1, h2, h3, p {
  font-family: "Kreon", serif; }

.section-header h1 {
  margin-top: 30px;
  margin-bottom: 2px;
  margin-left: 0px;
  text-align: center; }

h1 {
  margin-bottom: 2px; }

h2 {
  font-weight: 400; }

hr {
  margin-bottom: 10px;
  margin-top: 0px; }

p {
  font-size: 90%; }

a {
  color: black;
  text-decoration: none; }

.section-header h1 {
  margin-left: 0px; }

.pure-g-r > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0px;
  margin: 0 auto; }
  
.event-box .event-photo {
  background-size: cover;
  height: 266px; }
.event-box .event-info {
  padding: .5em;
  background-color: #e9d38f; }
  .event-box .event-info h1 {
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: 400; }
  .event-box .event-info h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 100%; }
  .event-box .event-info p {
    margin-top: 5px;
    margin-bottom: 0px; }

/** Start of About Page CSS */

.giantContain {
    overflow: hidden;
    max-width: 675px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

.personContain {
    height: 220px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.imageContain {
    border-radius: 5px 5px 5px 5px;
    height:175px;
    width:175px;
    position:relative;
    background: black;
    text-align: center;
    line-height: 20px;
}

.info {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.profilePic {    
    position:absolute;
    border-radius: 5px 5px 5px 5px;
    left:0;
    top:0;
    width: 175px;
    height: 175px;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.blurb {
    border-radius: 5px 5px 5px 5px;
    position:absolute;    
    color: rgba(0,0,0,0);
    font-size:16px;
    left:20px;
    right: 20px;
    visibility: hidden;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.imageContain:hover .blurb{
    border-radius: 5px 5px 5px 5px;
    visibility: visible;
    color: white;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
     user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    -webkit-user-select:none;
}

.imageContain:hover .profilePic {
    opacity: 0.2;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;

}

.bigContain {

  border: 1px solid;
}

.paragraphContain {
    border-radius: 5px 5px 5px 5px;
    /*background-color: silver;*/
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 720px;
    /*top: 1px;*/
}

#image {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    /*-webkit-filter: grayscale(100%) brightness(0.3) contrast(0.9) opacity(0.8);*/
    -webkit-filter: brightness(0.9) contrast(0.9) opacity(0.8);

}

.text {
    position: relative;    
    color: #000000;
    font-size:24px;
    top: 0;
    text-align: justify;
    padding: 0 20px 1px 20px;
}




