h1, h2, h3, p {
  font-family: "Kreon", serif; }

h1 {
  margin-bottom: 2px; }

h2 {
  font-weight: 400; }

hr {
  margin-bottom: 10px;
  margin-top: 0px; }

p {
  font-size: 90%; }

a {
  color: black;
  text-decoration: none; }

.section-header h1 {
  margin-left: 0px; }

.pure-g-r > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0px;
  margin: 0 auto; }
  
.event-box .event-photo {
  background-size: cover;
  height: 266px; }
.event-box .event-info {
  padding: .5em;
  background-color: #e9d38f; }
  .event-box .event-info h1 {
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: 400; }
  .event-box .event-info h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 100%; }
  .event-box .event-info p {
    margin-top: 5px;
    margin-bottom: 0px; }


/** Start of About Page CSS */

.personContain {
    width: 175px;
    height: 220px;
    position: relative;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.imageContain {
    height:175px;
    width:175px;
    position:relative;
    background: black;
    text-align: center;
    line-height: 20px;
}

.info {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.profilePic {    
    position:absolute;
    left:0;
    top:0;
    width: 175px;
    height: 175px;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.blurb {
    position:absolute;    
    color: rgba(0,0,0,0);
    font-size:16px;
    left:20px;
    right: 20px;
    visibility: hidden;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.imageContain:hover .blurb{
    visibility: visible;
    color: white;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
     user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    -webkit-user-select:none;
}

.imageContain:hover .profilePic {
    opacity: 0.2;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;

}

.bigContain {

  border: 1px solid;
}

.storyContain {
    max-height:375px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 720px;
}

.goalsContain {
    max-height:270px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 720px;
}

#image {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    -webkit-filter: grayscale(100%) brightness(0.3) contrast(0.9) opacity(0.8);
}

.text {
    position:absolute;    
    color: #CFCFCF;
    font-size:24px;
    top: 0;
    height: 100px;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
}




