#kickstarter-message > h1 {
    font-family: "kreon";
}
#kickstarter-message > p {
    font-family: kreon;
    line-height: 36px;
    font-size: 18px;
}
#kickstarter-message > p > a {
    text-decoration: none;
    color: #2fcc3a;
}
#kickstarter-music {
    width: 480px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
}