/*-------- Site Wide ----------------------------------------------------------*/

.container {
	padding: 0 15px;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 750px;
	}
}

/*----------------------------------------------------------------------------*/

/*-------- Header ------------------------------------------------------------*/

.header-div {
	margin: 0 auto;
	text-align: center;
}

/*----------------------------------------------------------------------------*/

/*---------- Nav Bar ---------------------------------------------------------*/
.nav-div {
	margin: 1em 0;
	width: 100%;
	text-align: center;
	position: relative;
	float: left;
	display: block;
}

.nav-div nav {
	display: inline-block;
	float: left;
	width: 100%;
	text-align: center;
}

.nav-div nav ul {
	width: auto;
	margin: auto;
	display: inline-block;
	list-style: none;
	list-style-image: none;

	font-family: "Helvetica Neue", "Arial", "sans-serif";
	font-size: 20px;
	text-transform: lowercase;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: 300;

	background-color: #fff;

	padding: 0 20px;
}

.nav-div nav ul > li {
	font-size: 22px;
	line-height: 2.0em;
	float: left;
	position: relative;
	text-align: center;
}

.nav-div nav li > a {
	text-decoration: none;
	display: block;
	padding: 0 60px;
	background-color: #fff;
	color: #4C292D;
	text-align: center;
}

.nav-div nav ul > li:first-child a {
	border-right: 1px solid #4C292D;
}

.nav-div nav ul > li:last-child a {
	border-left: 1px solid #4C292D;
}

.nav-div nav li > a:hover {
    color: #C89C8B;
    border-color: #C89C8B !important;
}

.borderl-none {
	border-left: none !important;
}

.borderr-none {
	border-right: none !important;
}

.borderlr-active {
	border-left: 1px solid #4C292D;
	border-right: 1px solid #4C292D;
}

/*----------------------------------------------------------------------------*/
